.grid-book{
    width: 100%;
    height: auto;
    padding: 20px 50px;
    background-color: rgb(198, 206, 206);
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-content: center;
}   
.grid-book h2{
    text-align: center;
    grid-column: 1/5;
}


.card-book{
    width: 250px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    border: 1px solid #dbd9d9;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    transition: all 0.5s ease;
    overflow: hidden;
}

.card-book img{
    width: 150px;
    height: 150px;
    transition: transform 0.5s ease;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    border: solid 1px;
    
    /* transform: perspective(1000px);
    transform: translateZ(20px); */
}

.card-book:hover img{
    cursor: pointer;
    background-color: #bdbdbd;
    transform:  scale(1.1) perspective(1000px);
    transform-style: preserve-3d;
    /* transform: scale(1.2); rotate(15deg)*/
}
.card-book:hover {
    cursor: pointer;
    background-color: #bdbdbd;
    /* filter: brightness(10px) */
}
