.grid-book{
    width: 100%;
    height: auto;
    padding: 2rem 5rem;
    background-color: rgb(198, 206, 206);
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    justify-content: center;
    transition: all 1s ease-in-out;
}   
.grid-book h2{
    text-align: center;
    grid-column: 1/4;
    font-size:4rem;
    font-family: cursive;
    z-index: 140;
    text-shadow: 5px 3px 7px rgba(173, 173, 173, 0.7);
}


.card-book{
    width: 16rem;
    height: 21rem;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #e0e0e0;
    border-radius: 20px;
    border: 1px solid #dbd9d9;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    transition: all 0.5s ease;
    overflow: hidden;
}

.card-book img{
    width: 10rem;
    height: 15rem;
    transition: transform 0.5s ease;
    box-shadow:  2rem 2rem 6rem #bebebe,
             -2rem -2rem 6rem #ffffff;
    border: solid 0.01rem;
}
.card-book .title{
    text-align: center;
}
.card-book h3{
    font-size: 1.2rem;
}
.card-book:hover img{
    cursor: pointer;
    background-color: #bdbdbd;
    /* transform:  scale(1.1) perspective(1000px); */
    filter: blur(0.15rem);
    /* transform: scale(1.2); rotate(15deg)*/
}

.card-book:hover .title{
    filter: blur(0.15rem);
}

.card-book:hover {
    cursor: pointer;
    background-color: #bdbdbd;
    transform: translateY(-0.5rem);
}

.card-book .content-card{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    background:rgba(146, 149, 149, 0.479);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.card-book:hover .content-card{
    opacity: 1;
}


.active4{
    transform: scale(0);
}

@media (max-width:992px){

}


@media (max-width:768px){
    .grid-book{
        grid-template-columns: repeat(2, 1fr);
    }  

    .grid-book h2{
        grid-column: 1/3;
    }
}


@media (max-width:576px){
    .grid-book{
        grid-template-columns: repeat(1, 1fr);
    }  

    .grid-book h2{
        grid-column: 1/2;
    }
}

