:root{
    --fondo1:rgb(69, 114, 116);
    --fondo2:#03a9f4;
    --fondoContact:#20495c;
    --fondoCard:#fff;
}
.seccion-contacto{
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: var(--fondo1);
    display: flex;
    overflow: hidden;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-color: var(--fondo2);
    }

    /* Estilos para el contactinfo*/

    .contact-container{
        position: relative;
        min-width: 1100px;
        min-height: 550px;
        display: flex;
        z-index: 100;

        .contactinfo{
            position: absolute;
            top: 40px;
            width: 350px;
            height: calc(100%-80px);
            background-color: var(--fondoContact);
            z-index: 200;
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
            font-family: 'Roboto',sans-serif;
            transition: all 0.5s;

            @media(max-width:991px){
                &{
                    transform: translateX(-100%);
                }
            }
        }
    }
}

.contactinfo h2{
    color: aliceblue;
    font-size: 24px;
    font-weight: 500;
}

.contactinfo .info{
    position: relative;
    margin: 20px 0;
    li{
        position: relative;
        list-style: none;
        display: flex;
        margin: 20px 0;
        cursor: pointer;
        align-items: flex-start;

        span:nth-child(1){
            width: 30px;
            min-height: 30px;
        }

        span:nth-child(1) i{
            max-width: 100%;
            filter: invert(1);
            opacity: 0.5;
        }

        span:nth-child(2){
            color: #fff;
            margin-left: 10px;
            font-weight: 300;
            opacity: 0.5;
        }
        &:hover span:nth-child(1) img,
        &:hover span:nth-child(2){
            opacity: 1;
        }
    }
}

// Estilos para los Social Icons

.contactinfo .sci{
    position: relative;
    display: flex;
}

.contactinfo .sci li{
    list-style: none;
    margin-right: 15px;
}

.contactinfo .sci li a{
    text-decoration: none;
    /* color: #03a9f4; */
    display: block;
    width: 20%;
}

.contactinfo .sci li a i{
    filter: invert(1);
    opacity: 0.5;
}

.contactinfo .sci li:hover a i{
    opacity: 1;
}

.contact-container .cardForm{
    position: absolute;
    padding: 20px 50px;
    background-color: var(--fondoCard);
    left: 250px;
    padding-left: 250px;
    width: calc(100%-150px);
    height: 100%;
    z-index: 1;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;

    h2{
        color: #0f3959;
        font-size: 24px;
        font-weight: 500;
    }
    .formBox{
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 30px;
        .inputBox{
            position: relative;
            margin: 0 0 35px 0;
            @media(max-width:768px){
                &.w50{
                    width: 90%;
                }
            }
        }
        .w50{
            width: 37%;
            @media(max-width:576px){
                &{
                    width: 100%;
                }
            }
        }
        .w100{
            width: 100%;
        }
        @media(max-width:768px){
        &{
            position: relative;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            flex-wrap: wrap;
            padding-top: 30px;
        }
        }
        @media(max-width:576px){
            &{
                position: relative;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                flex-wrap: wrap;
                padding-top: 30px;
            }
        }
    }
    @media(max-width:991px){
        &{
            position: relative;
            margin: auto;
            left: 20px;
            padding: 0px;
            padding: 20px 100px;
            width: 60%;
        }
    }
    @media(max-width:768px){
        &{
        position: relative;
        margin: auto;
        left: 1%;
        padding: 0px;
        padding: 20px 100px;
        width: 50%;
        }
    }
    @media(max-width:576px){
        &{
        position: relative;
        margin: auto;
        padding: 0px;
        padding: 20px 100px;
        width: 40%;
        }
    }
}

.formBox .inputBox input,
.formBox .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    resize: none;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}

.formBox .inputBox textarea{
    min-height: 120px;
}

.formBox .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    transition: 0.5s;
    pointer-events: none;
}

.formBox .inputBox input:focus ~ span, 
.formBox .inputBox textarea:focus ~ span,
.formBox .inputBox input:valid ~ span, 
.formBox .inputBox textarea:valid ~ span{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #ff568c;
}

.formBox .inputBox input[type="submit"]{
    position: relative;
    cursor: pointer;
    background-color: #0f3959;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;

    @media(max-width:576px){
        &{
            margin: 0 50px
        }
    }
}

.seccion-contacto .contact-container .cardForm .formBox 
.inputBox input[type="submit"]:hover{
    background-color: #ff568c;
}