:root{
    --footer_link: white   ;
    --background_footer: #2b2b2b;
}

.footer{
    position: relative;
    bottom: 0;
    background: #fff;
    color: var(--footer_link);

    border-radius: 0px 0px 0px 12px ;
}

.footer-content{
    display: flex;
    justify-content: space-around;
    border-top: 2px solid #1f1f1e;
    background: var(--background_footer);
}

.footer-content__items{
    padding-top: 40px;
}

.footer-content__items ul {
    display: flex;
    justify-content: space-evenly;
    
}

.footer-content__items ul li a{
    text-decoration: none;
}

 .fa-facebook-square{
     color: #0777E9;
     font-size: 40px;
     margin-right: 20px;
 }
 .fa-instagram{
     background-image: linear-gradient(0deg, rgba(64,93,230,1) 0%, rgba(91,81,216,1) 4%, rgba(131,58,180,1) 16%, rgba(193,53,132,1) 38%, rgba(225,48,108,1) 56%, rgba(253,29,29,1) 71%, rgba(245,96,64,1) 83%, rgba(247,119,55,1) 91%, rgba(252,175,69,1) 96%, rgba(255,220,128,1) 100%); 
    -webkit-text-fill-color: transparent;
    color:#fff;
    background-clip: text;
    font-size: 40px;
 }

.footer__link{
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
}

.footer__link a{
    text-decoration: none;
    color: var(--footer_link);
    border-bottom: 1px solid  transparent;
    padding: 5px;

}
.footer__link a i{
    padding-right: 5px;
}

.footer__link a:hover{
    border-bottom: 1px solid orange;
}

.footer-name{
    padding-top: 0;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    background: var(--background_footer);
    padding: 10px;
}

@media screen and (max-width:576px){
    .footer-content{
        flex-direction: column;
    }

    .footer-content__items{
        margin: 0%;
        padding: 0%;
        
    }
    .footer-content__items ul {
        display: flex;
        justify-content: center;
    }
    h4{
        display: flex;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 20px;
    }
    .footer__link{
        display: flex;
        justify-content: center;

      
    }
    p{
        display: flex;
        justify-content: center;
    }
}